<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Edit')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>

<main class="container">

    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post" th:object="${post}">
        Title:<input type="text" name="title" th:field="*{title}" /><br/>
        Description:<input type="text" name="description" th:field="*{description}" /><br/>
        <button class=".uk-button-primary">Edit</button>
    </form>

    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
        <button class=".uk-button-danger">Delete</button>
    </form>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</body>
</html>