<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Post')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div style="height: 100px;"></div>
<main class="container">
    <div class="uk-card">
        <div class="uk-card-header">
        <h1 th:text="${post.title}" />
        </div>
        <div class="uk-card-body">
        <img th:each="img : ${post.images}" th:src="${img.path}" alt="stuff" />
        <p th:text="${post.description}" />
        </div>
        <div class="uk-card-footer">
        <a href="#" th:text="${post.user.email}"></a>
        </div>
    </div>
</main>
</body>
</html>