<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Post')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<main class="container">
    <div class="card">
        <h1 class="card-title" th:text="${post.title}" />
        <img th:each="img : ${post.images}" th:src="${img.path}" alt="stuff" />
        <p class="card-text" th:text="${post.description}" />
        <a href="#" th:text="${post.user.email}"></a>
    </div>
</main>

<th:block th:replace="fragments/footer :: my-footer"/>
</body>
</html>