<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="uk-navbar-container uk-margin main-nav2" th:fragment="top-nav2">
    <div class="uk-navbar-left">

        <a style="color: white;" class="uk-navbar-item uk-logo" href="/">TravelBlog</a>

        <ul class="uk-navbar-nav navlink">
            <li><a style="color: white;" href="/posts">Blogs</a></li>
            <li><a style="color: white;" href="/posts/create">Write</a></li>
            <li><a style="color: white;" href="/users">Account</a></li>
            <li><a style="color: white;" href="/logout">Logout</a></li>
        </ul>
        <div class="uk-navbar-item">
        </div>

    </div>
</nav>
</body>
</html>