<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('All Posts')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div style="height:100px;"></div>
<!--<div>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        User ID: <span th:text="${#authentication.principal.id}"/>-->
<!--        Username: <span th:text="${#authentication.principal.username}"/>-->
<!--        Email: <span th:text="${#authentication.principal.email}"/>-->
<!--    </div>-->
<!--</div>-->
<div sec:authorize="isAuthenticated()">
<form th:action="@{'/users/' + ${#authentication.principal.id} + '/edit'}" th:method="post" th:object="${user}">
    Username:<input type="text" name="username" th:field="${#authentication.principal.username}" /><br/>
    Email:<input type="text" name="email" th:field="${#authentication.principal.email}" /><br/>
    <button class=".uk-button-primary">Edit</button>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</body>
</html>