<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Login')" />
</head>
<body id="index-body" >
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div style="height:100px;"></div>
<div class="container" style="height: 300px; width: 450px">
<h1>Log In</h1>
<div class="alert alert-danger" th:if="${param.error}">
    Invalid Username and Password.
</div>
<div class="alert alert-warning" th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button class=".uk-button-primary" type="submit" name="action">Submit
</button>
</form>
</div>
</body>
</html>