.topbar{
    background-image: url("../img/blog.jpg");
    width: 1440px;
    height: 768px;
}

.card-panel{
    height: 350px;
    width: 350px;
}
.main-nav{
    background-color: #f25f5c !important;
}
.main-nav2{
    background-color: #f25f5c !important;
}


h5{
    color: #f25f5c;
}

