<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Welcome')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
<th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>

<div class="topbar">
    <div style="height: 200px;"></div>
<span sec:authorize="isAuthenticated()" style="font-size: 40px; color: white;">
    Hey <span th:text="${#authentication.principal.username}"/>! Where will we be going today?
</span>
    <span th:unless="${#authorization.expression('isAuthenticated()')}">
       <span style="font-size: 40px; color: white;">
        Time to explore and share your adventures!
       </span>
    </span>
    <br/>
    <br/>
    <br/>
    <div class="row">
    <div class="col l4">
        <form action="/posts/search" method="get">
            <input class="form" type="search" placeholder="Search" aria-label="Search" name="term" />
            <button class="btn #00b0ff light-blue accent-3 right" type="submit" name="action">Search
            </button>
        </form>
    </div>
        <div class="col l8"></div>
    </div>
</div>
<th:block th:replace="fragments/footer :: my-footer"/>
</body>
</html>